body {
  background-color: yellow;
}
.mainbody {
  width: 615px;
  height: 980px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.unit1 {
  width: 66.80px;
  height: 130px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.unit2-3 {
  width: 143.7px;
  height: 390px;
  background-color: red;
  border: 5px solid white;
  float: right;
}
.unt1-2 {
  width: 66.85px;
  height: 250px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.unit2-2 {
  width: 143.7px;
  height: 250px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.unit2-2.5 {
  width: 143.7px;
  height: 250px;
  background-color: red;
  border: 5px solid white;
  float: right;
}
.unit1SP {
  width: 65px;
  height: 130px;
  background-color: red;
  border: 5px solid white;
  float: inherit;
}
