body {
  background-color: red;
}
.mainbody {
  width: 615px;
  height: 980px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.unit1 {
  width: 66.80px;
  height: 130px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.unit2-3 {
  width: 143.7px;
  height: 410px;
  background-color: red;
  border: 5px solid white;
  float: right;
}
.unt1-2 {
  width: 66.85px;
  height: 270px;
  background-color: red;
  border: 5px solid red;
  float: right;
}
.unit2-2 {
  width: 143.7px;
  height: 270px;
  background-color: red;
  border: 5px solid white;
  float: right;
}
.unit1R {
  width: 66.80px;
  height: 130px;
  background-color: red;
  border: 5px solid white;
  float: Right;
}
.unit2-2L {
  width: 143.7px;
  height: 270px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.unt1-2L {
  width: 66.85px;
  height: 270px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
