body {
  background-color: black;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-size: cover;
}
.logo {
  width: 10vw;
  height: 100px;
/*** Position absolute***/
  float: left;
}
.tabspacemove {
  width: 50%;
  margin: 10px;
  float: left;
}
header {
  width: 100vw;
  height: 250px;
  float: left;
}
main {
  width: 73%;
  margin: 45px auto;
}
nav {
  color: #FFDE05;
  float: left;
}
ul {
  float: left;
}
.navspace {
  margin: 40px;
  font-size: 25px;
  background-image: url('Album-blank.png');
  float: left;
}
.PageTitle {
  width: 100vw;
  height: 50px;
  float: left;
}
h1 {
  color: #FFA300;
  text-align: left;
  font-family: 'Californian FB', serif;
  margin-left: 20px;
}
h2 {
  color: #FFA300;
  font-family: 'Courier New', serif;
  text-align: left;
  margin: 25px 45px: auto;
}
h3 {
  font-size: 25px;
  color: #FFA300;
  font-family: 'Harlow solid', serif;
}
h4 {
  font-size: 25px;
  Color: white;
  font-family: 'Special Elite', serif;
}
p {
  color: white;
  text-align: left;
  font-family: 'High Tower Text' serif;
  font-size: 20px;
  line-height: 35px;
}
li {
  color: white;
  line-height: 25px;
  display: inline;
}
img {
  max-width: 100%
}
em {
  text-align: center;
}
u {
  color: #FFA300;
  text-align: left;
}
img {
  left: auto;
}
/****** Event pade ***/
.August {
  width: 549px;
  height: 1435px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
.September {
  width: 548px;
  height: 1130px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
.NextMonth {
  width: 349px;
  height: 214px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
/******End of the event page ******/
a {
  color: #DB29EE;
}
.gallery {
  width: 75vw;
  float: left;
}
.cancellation {
  width: 95%;
  height: 413px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
/****gallery ****/
.OrangePuff {
  float:right;
}
.middledivider {
  width: 75%;
  height: 100px;
  float: left;
}
.images {
  border: 10px;
  border-color: black;
  margin: 10px;
  float: left;
}
.album-artist {
  width: 300px;
  height: 410px;
  float: left;
}
.Blanks {
  width: 16px;
  height: 5px;
  border-color: black;
  float: left;
}
.leftcol {
  width: 210px;
  border: 3px;
  border-color: white;
  float: left
}
.Blanksdown {
  width: 20px;
  height: 16px;
  border: 3px;
  border-color: white;
  float: left;
}
.middlecol {
  width: 1100px;
  height: 200px;
  float: left;
}
.twopicture {
  width: 400px;
  height: 300px;
  float: left;
}
.ArtistMusic {
  width: 321px;
  height: 754px;
  float: left;
}
.trumpetspin {
  width: 200px;
  height: 754px;
  float: left;
}
.artist1 {
  width: 315px;
  height: 750px;
  float: left;
}
.final {
  width: 215px;
  height: 620px;
  float: left;
}
.blankmiddle {
  width: 349px;
  height: 214px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: right;
}
.doubelblank {
  width: 16px;
  height: 110px;
  float: left;
}
.purpleline {
  width: 100vw;
  height: 15px;
  background-color: #AA0ABB;
  opacity: 0.50;
  float: left;
}
.purpleline2 {
  width: 100vw;
  height: 15px;
  float: left;
}
/************* end of the gallery***/
.title {
  width: 40vw;
  height: 46px;
  float: left;
}
.emptytitle {
  width: 20vw;
  height: 15px;
  float: left;
}
.updatepost {
  width: 95%;
  height: 313px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
.AlbumTitle {
  width: 35vw;
  height: 51px;

  float: left;
}
.ComingSoon {
  width: 10vw;
  height: 150px;
  float: left;
}
.Melbourneapolis {
  width: 15vw;
  float:left;
}
.Buttspace {
  width: 10vw;
  height: 25px;
  float: left;
}
.center {
  width: 15vw;
  height: 10px;
  float: left;
}
.center1 {
  width: 15vw;
  height: 300px;
  float: left;
}
.FemaleComment {
  width: 95%;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
.PostPic {
  width: 25%;
  float: left;
}

.paragraph {
  width: 70%;
  float: left;
}
.Jumo {
  width:75%;
  height: 51px;
  float: left;
}
/** Album**/
.Albumpage {
  width: 95%;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
.Albumpage2 {
  width: 95%;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
.Picture {
  width: 25%;
  float: left;
}
.list {
  width: 40%;
  height: 150px;
  float: left;
}
.list1 {
  width: 40%;
  height: 150px;
  float: left;
}
.Buttspace2 {
  width: 32vw;
  height: 130px;
  float: left;
}
.Buttspace3 {
  width: 17vw;
  height: 130px;
  float: left;
}
.button {
  width: 15vw;
  height: 50px;
  float: left;
}
.trackbutton {
  width: 25vw;
  height: 50px;
  text-align: left;
  float: left;
}
.trackbutton2 {
  width: 10vw;
  height: 20px;
  float: left;
}
.TitleName {
  width: 5vw;
  float: left;
}
.MidnightCrisis {
  width: 30vw;
  height: 100px;
  float: left;
}
.TrackList {
  width: 25vw;
  height: 200px;
  float: left;
}
/*** About page***/
.AboutInfor {
  width: 90%;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
.MalePerform {
  width: 90%;
  height: 413px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
.texts {
  width: 70%;
  float: left;
}
.ShareTilted {
  width: 50%;
  float: left;
}
.images2 {
  border: 10px;
  margin: 10px;
  float: left;
}
.texts2 {
  width: 60%;
  float: left;
}
.ComingSoon {
  width: 25vw;
  float: left;
}

@media screen and (max-width: 1440px) {
  .main {
    margin: 10px auto;
  }
  p {
    font-size: 16px;
    line-height: 25px;
  }
  .texts {
    width: 65%;
  }
  .list {
    width: 50%;
  }
  .texts2 {
    width: 50%;
  }
  .gallery {
    width: 95vw;
  }
  .TitleName {
    width: 6vw;
  }
  .emptytitle {
    width: 10vw;
  }
  .MidnightCrisis {
    width: 20vw;
  }
  .Buttspace {
    width: 20vw;
    height: 50px;
  }
  .AlbumTitle {
    width: 45vw;
    height: 51px;
  }
  .Buttspace2 {
    width: 10vw;
    height: 65px;
  }
  .images2 {
    border: 5px;
    margin: 5px;
  }
}
