body {
  background-color: black;
}
nav {
  text-align: right;
}
main {
  width: 73%;
  margin: 45px auto;
}
h1 {
  color: white;
  font-family: 'Californian FB', serif;
}
h2 {
  color: purple;
  font-family: 'Courier New', serif;
  text-align: center;
  margin: 25px 45px: auto;
}
h3 {
  color: gold;
  font-family: 'Harlow solid', serif;
}
h4 {
  Color: white;
  font-family: 'Special Elite', serif;
}
p {
  color: white;
  text-align: left;
}
li {
  color: white;
  display: inline
}
img {
  max-width: 100%
}
div {
  padding: 5px;
  margin: 30px;
}
cancellation {
  color: purple;
}
em {
  text-align: center;
}
u {
  color: gold;
  text-align: left;
}
img {
  left: auto;
}
*months{
  color:
}
