body {
  background-color: black;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-size: cover;
}
.logo {
  width: 10vw;
  height: 100px;
  float: left;
}
header {
  width: 100vw;
  height: 250px;
  float: left;
}
main {
  width: 73%;
  margin: 45px auto;
}
nav {
  color: #FFDE05;
}
.navspace {
  margin: 20px;
  background-image: url('Album-blank.png');
  float: left;
}
h1 {
  color: white;
  text-align: left;
  font-family: 'Californian FB', serif;
}
h2 {
  color: #FFA300;
  font-family: 'Courier New', serif;
  text-align: center;
  margin: 25px 45px: auto;
}
h3 {
  color: #FFA300;
  font-family: 'Harlow solid', serif;
}
h4 {
  Color: white;
  font-family: 'Special Elite', serif;
}
p {
  color: white;
  text-align: left;
  font-family: 'High Tower Text' serif;
  font-size: 20px;
  line-height: 35px;
}
li {
  color: white;
  display: inline;
}
img {
  max-width: 100%
}
em {
  text-align: center;
}
u {
  color: #FFA300;
  text-align: left;
}
img {
  left: auto;
}
/****** Event pade ***/
.August {
  width: 549px;
  height: 1130px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
.September {
  width: 549px;
  height: 1130px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: right;
}
.NextMonth {
  width: 349px;
  height: 214px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: right;
}
/******End of the event page ******/
a {
  color: #DB29EE;
}
.gallery {
  width: 75vw;
  height: 1200px;
  background-color: red;
  float: left;
}
.cancellation {
  width: 95%;
  height: 413px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
/****gallery ****/
.OrangePuff {
  float:right;
}
.middledivider {
  width: 75%;
  height: 100px;
  float: left;
}
.images {
  border: 10px;
  border-color: black;
  margin: 10px;
  float: left;
}
.album-artist {
  width: 300px;
  height: 410px;
  float: left;
}
.Blanks {
  width: 16px;
  height: 5px;
  border-color: black;
  float: left;
}
.leftcol {
  width: 210px;
  height: 1009px;
  border: 3px;
  border-color: white;
  float: left
}
.Blanksdown {
  width: 20px;
  height: 16px;
  border: 3px;
  border-color: white;
  float: left;
}
.middlecol {
  width: 1100px;
  height: 200px;
  float: left;
}
.twopicture {
  width: 400px;
  height: 300px;
  float: left;
}
.ArtistMusic {
  width: 321px;
  height: 754px;
  float: left;
}
.trumpetspin {
  width: 200px;
  height: 754px;
  float: left;
}
.artist1 {
  width: 315px;
  height: 750px;
  float: left;
}
.final {
  width: 215px;
  height: 620px;
  float: left;
}
.blankmiddle {
  width: 349px;
  height: 214px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: right;
}
.doubelblank {
  width: 16px;
  height: 110px;
  float: left;
}
.purpleline {
  width: 100vw;
  height: 15px;
  background-color: #AA0ABB;
  float: left;
}
/*** end of the gallery***/
.title {
  width: 50vw;
  height: 46px;
  float: left;
}
.emptytitle {
  width: 40vw;
  height: 15px;
  float: left;
}
.updatepost {
  width: 95%;
  height: 313px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
.AlbumTitle {
  width: 50vw;
  height: 51px;
  float: left;
}
.ComingSoon {
  width: 10vw;
  height: 150px;
  text-align: right;
  float: left;
}
.Melbourneapolis {
  width: 15vw;
  float:left;
}
.Buttspace {
  width: 15vw;
  height: 25px;
  float: left;
}
.FemaleComment {
  width: 95%;
  height: 233px;
  border: 3px solid #929192;
  padding: 10px;
  box-shadow: -20px 10px  9px rgba(170,10,187,0.25);
  opacity: 75px;
  margin: 30px;
  float: left;
}
.PostPic {
  width: 25%;
  float: left;
}
.paraDent {
  width: 3vw;
  height: 25px;
  float: left;
}
.paragraph {
  width: 70%;
  float: left;
}
.Jumo {
  width:75%;
  height: 51px;
  float: left;
}
/** responds **/
@media screen and (max-width: 1700px) {
  main {
    width: 75% auto;
    margin: 25px auto;
  }
  nav {
    float: left;
  }
  .title {
    width: 25vw;
  }
  .logo {
    height: 125px
  }
  .cancellation {
    width: 75%;
    margin: 25px auto;
    float: left;
  }
  .updatepost {
    width: 75%;
    height: 213px;
    margin: 25px auto;
    float: left;
  }
  .FemaleComment {
    width: 75%;
    margin: 25px auto;
    float: left;
  }
  .Buttspace {
    width: 15vw;
    height: 50px;
  }
  .AlbumTitle {
    width: 40vw;
    height: 51px;
  }
  .Melbourneapolis {
    width: 15vw;
    float:left;
  }
  .ComingSoon {
    width: 20vw;
  }
}
@media screen and (max-width: 1400px) {
  .Buttspace {
    width: 20vw;
    height: 50px;
  }
  .AlbumTitle {
    width: 45vw;
    height: 51px;
  }
}
