body {
  margin: 0;
}
main {
  width: 120vw;
  margin: -10vw;
}
.pattern1.shape1 {
  width: 100px;
  height: 25px;
  background-color: yellow;
  float: left;
  margin: -5px;
  opacity: .75;
}
.pattern1.shape2 {
  width: 100px;
  height: 75px;
  background-color: purple;
  float: left;
  margin: -5px;
  opacity: .75;
}
.pattern1.shape3 {
  width: 50px;
  height: 100px;
  background-color: red;
  float: left;
  margin: -5px;
  opacity: .75;
}
