body {
  background-color: black;
  margin: 0;
}
main {
  width: 120vw;
  margin: -10vw;
}
.shape1 {
  width: 100px;
  height: 25px;
  background-color: yellow;
  float: left;
  margin: -5px;
  opacity: .75;
}
.shape2 {
  width: 100px;
  height: 75px;
  background-color: purple;
  float: left;
  margin: -5px;
  opacity: .75;
}
.shape3 {
  width: 50px;
  height: 100px;
  background-color: red;
  float: left;
  margin: -5px;
  opacity: .75;
}
.SP1 {
  width: 100px;
  height: 100px;
  background-color: pink;
  float: left;
  margin: -5px;
  border-radius: 50%;
}
.SP2 {
  width: 100px;
  height: 75px;
  background-color: grey;
  float: left;
  margin: -5px;
  opacity: .75;
}
.SP3 {
  width: 50px;
  height: 100px;
  background-color: blue;
  float: left;
  margin: -5px;
  opacity: .75;
}
.CP1 {
  width: 400px;
  height: 400px;
  background-color: pink;
  border-width: 5px;
  border-color: white;
  float: left;
  margin: -5px;
  border-radius: 50%;
}
.CP2 {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  margin: -5px;
  border-radius: 50%;
}
.CP3 {
  width: 100px;
  height: 100px;
  background-color: tomato;
  float: left;
  margin: -5px;
  border-radius: 50%;
}
.CR1 {
  width: 50px;
  height: 50px;
  background-color: tomato;
  box-shadow: -5px 20px, purple;
  opacity: .75;
  float: left;
  margin: -5px;
  border-radius: 50%;
}
.CR2 {
  width: 100px;
  height: 100px;
  background-color: pink;
  shape-inside: rectangle(5px white);
  float: left;
  margin: -5px;
  border-radius: 50%;
}
.CR3 {
  width: 100px;
  height: 100px;
  background-color: grey;
  box-shadow: -5px 20px, white;
  opacity: .50;
  float: left;
  margin: -5px;
  border-radius: 50%;
}
.five {
  width: 0;
  height: 0;
  border-left: solid 100px transparent;
  border-right: solid 100px transparent;
  border-bottom: solid 70px red;
  transform:rotatez(35deg);
}
.five: before{
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
  top: -45px;
  left: -65px;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  border-bottom: solid 80px red;
  transform:rotatez(-35deg);
}
.five: after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
  top: -3px;
  left: -105px;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  border-bottom: solid 80px red;
  transform:rotatez(-70deg);
}

.five2 {
  width: 0;
  height: 0;
  border-left: solid 100px transparent;
  border-right: solid 100px transparent;
  border-bottom: solid 70px red;
  transform:rotatez(35deg);
}

.five3 {
  width: 0;
  height: 0;
  border-left: solid 100px transparent;
  border-right: solid 100px transparent;
  border-bottom: solid 70px red;
  transform:rotatez(35deg);
}
