body {
  background-repeat: no-repeat;
  background-image: url("background.png");
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-size: cover;
}
  header {
    margin: 10px auto;
  }
.space {
  width: 50px;
  height: 400px;
  float: left;
}
main {
  width: 75%;
  margin: 50px auto;
}
h1 {
  font-size: 75px;
  font-family: 'Merienda One', cursive;
  color: black;
}
h2 {
  font-size: 45px;
  font-family: 'Alegreya', serif;
}
h4 {
  font-size: 35px;
  font-family: 'Fondamento', cursive;
}
p {
  line-height: 30px;
  margin: 25px;
  font-size: 20px;
}
.AuthorIllustrator {
  width: 786px;
  height: 264px;
  float: left;
}
.paragraph {
  width: 40vw;
  height: 2230px;
  float: right;
}
.footer {
  width: 100px;
  height: 25px;
  float: left;
}
/** **/
@-ms-viewport {
  width: device-width;
}
@media screen and (max-width: 1600px) {
  main {
    width: 50%;
    margin: 25px auto;
  }
  .paragraph {
    width: 65vw;
    height: 2230px;
    margin: 25px auto;
    float: left;
  }
}
@media screen and (max-width: 1200px) {
  main {
    width: 50%;
    margin: 25px auto;
  }
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 25px;
    margin: -15px auto;
  }
  p {
    line-height: 30px;
    margin: 0px;
    font-size: 20px;
  }
  .paragraph {
    width: 50vw;
    height: 2230px;
    float: left;
  }
  .AuthorIllustrator {
    width: 536px;
    height: 164px;
  }
  h4 {
    font-size: 25px;
}
@media screen and (max-width: 600px) {
  main {
    margin: 0px auto;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
    margin: -15px auto;
  }
  h4 {
    font-size: 20px;
  }
  .AuthorIllustrator {
    width: 336px;
    height: 164px;
  }
  .paragraph {
    width: 60vw;
  }
}
