body {
  background-color: black;
    color: white;
  }
main {
  width: 50%;
  margin: 50px auto;
}
  h1 {
  font-size: 55px;
  font-family: 'Crimson Text', serif;
  color: tomato;
  width: 73%;
  margin: 45px auto;
  }
  .title {
    text-align: center;
    width: 25%;
    margin: 0px auto;
  }
  h2 {
    font-family: 'Old Standard TT', serif;
    color: aquamarine;
    margin: 25px auto;
  }
  h3 {
    Color: lightsalmon;
  }
  li{
    font-size: 16px;
    color: White;
    font-family: sans-serif {Time New Roman};
    width: 25%;
    margin: 5px auto;
  }
  a {
    color: lightsalmon;
  }
  p {
    letter-spacing: 1px;
    text-indent: 10px;
  }
  .intro {
    font-size: 20px;
    letter-spacing: 2px:
  }
  .contrast {
    font-size: 20px;
    color: aquamarine;
    text-decoration: underline;
    letter-spacing: 2px;
    margin: 5px auto;
  }
  #listbox {
    background-color: gray;
    color: tomato;
    padding: 35px;
    height: 25px;
    width: 35px;
    margin: 50px auto;
  }
  .author {
    font-size: 30px;
    font-family: 'Crimson Text', serif;
    color: tomato;
    width: 35%;
    margin: 35px auto;
  }
