body {
  background-color: black;
    color: white;
  }
main {
  width: 50%;
  margin: 50px auto;
}
  h1 {
  color: tomato;
  width: 75%;
  margin: 75px auto;
  }
  h2 {
    color: aquamarine;
    margin: 25px auto;
  }
  h3 {
    Color: lightsalmon
  }
  ul li{
    font-size: 16px;
    color: lightsalmon;
    font-family: sans-serif {Time New Roman};
  }
  p {
    letter-spacing: 1px;
  }
  .intro {
    font-size: 20px;
    letter-spacing: 2px:
  }
  .contrast {
    font-size: 18px;
    color: pink;
    text-decoration: underline;
    letter-spacing: 2px;
    width: 50%;
    margin: 50px auto;
  }
