body {
  background-color: tomato;
}
main {
  width: 700px;
  height: 400px;
  margin: 0 25px;
}
.blankleft {
  width: 400px;
  height: 400px;
}
.block100 {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 25px;
  float: left;
}
.block200 {
  width: 250px;
  height: 100px;
  background-color: blue;
  margin: 25px;
  float: left;
}
.blockw100h250 {
  width: 100px;
  height: 250px;
  background-color: blue;
  margin: 25px;
  float: left;
}
