body {
  background-color: yellow;
}
main {
  width: 960px;
  height: 2160px;
  margin:0px auto;
}
.headerbox {
  width: 950px;
  height: 160px;
  margin: 0px auto;
  background-color: red;
  border: 5px solid white;
}
.blankdivider {
  width: 950px;
  height: 60px;
  background-color: white;
  border: 5px solid white;
}
.bodycontent {
  width: 712px;
  height: 250px;
  background-color: red;
  border: 5px solid white;
}
.smallbox {
  width: 230px;
  height: 125px;
  background-color: red;
  border: 5px solid white;
}
.footer {
  width: 950px;
  height: 50px;
  margin: 0px auto;
  background-color: red;
  border: 5px solid white;
}
