body {
  height: 1920px;
  background-color: tomato;
  }
header {
  width: 75vw;
  margin: 25px auto;
  background-color: aquamarine;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-roots;
}
h1 {
  color: green;
}
h2 {
  color: aquamarine;
}
h1 {
  color: black;
}
h3 {
  font-size: 16px;
}
ul li{
 font-size: 16px;
 line-height: 25px;
  color: white;
  font-family: sans-serif {Time New Roman};
}
u {
  color: gray;
}
.Col {
  width: 50%;
  border: 5px;
  margin: 25px auto;
  float: left;
}
.divider {
  width: 5px;
  height: 25px;
  background-color: blue;
  border: 5px;
  float: left;
}
.final {
  background-color: MediumSpringGreen;
}
/** **/
@media screen and (max-width: 900px) {
  body {
    background-color: #cccccc;
  }
  header {
    width: 85vw;
    margin: 10px auto;
  }
  main {
    width: 75vw;
    margin: 50px auto;
  }
}
@media screen and (max-width: 700px) {
  body {
    background-color: red;
  }
  .Col {
    width: 100%;
  }
  header {
    width: 100vw;
    margin: 0px auto;
  }
}
