body {
  background-color: yellow;
}
main {
  width: 960px;
  height: 2160px;
}
.headerbox {
  width: 960px;
  height: 160px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.divider {
  width: 960px;
  height: 40px;
  margin: 0px auto;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.col1 {
  width: 310.25px;
  height: 600px;
  margin: 0px auto;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.col2 {
  width: 310.25px;
  height: 600px;
  margin: 0px auto;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.col3 {
  width: 310.25px;
  height: 600px;
  margin: 0px auto;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.footer {
  width: 960px;
  height: 160px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
