* {
  box-sizing: border-box;
}
main {
  width: 120vw;
  margin: -10vw;
}
.board {
  width: 800px;
  margin: 50px auto;
}
.red {
  width: 100px;
  height: 100px;
  background-color: red;
  float:left;
}
.black {
  width: 100px;
  height: 100px;
  background-color: black;
}
