body {
  background-color: blue;
}
main {
  width: 960px;
  height: 960px;
  margin: 0px auto;
}
.leftsidecourt {
  width: 155px;
  height: 430px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.topbackcourt{
  width: 465px;
  height: 155px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.middleleft {
  width: 220px;
  height: 310px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.middleright {
  width: 220px;
  height: 310px;
  background-color: pink;
  border: 5px solid white;
  float: left;
}
.bottomleftsidecourt {
  width: 155px;
  height: 430px;
  background-color: red;
  border: 5px solid white;
  float: right;
}
