body {
  background-color: blue;
}
main {
  width: 1000px;
  height: 2160px;
  margin: 0px auto;
}
.leftsidecourt {
  width: 160px;
  height: 480px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.topbackcourt{
  width: 480px;
  height: 120px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.blank {
  width: 330px;
  height: 310px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.middle {
  width: 160px;
  height: 160px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.rightsidecourt {
  width: 160px;
  height: 480px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
